%h1 Create new Post

%h2 Upload post in YAML
%p
  = form_for :upload, :url => {:action=>:upload}, :html=>{:multipart=>true} do |f|
    = f.file_field :file
    = f.submit 'Upload'

%hr/

%h2 Create Post
%p
  = form_for(@post) do
    = render 'form'
    %p= submit_tag "Create"


= link_to 'Back', posts_path