%h1 Create new Post

%h2 Upload post in YAML
%p
  = form_tag({:action => :upload}, :multipart => true) do
    = file_field_tag :file
    = submit_tag 'Upload'

%hr/

%h2 Create Post
%p
  = form_for(@post) do
    = render 'form'
    %p= submit_tag "Create"


= link_to 'Back', posts_path