!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title Wolfmans Howlings
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %link{ :href => posts_path(:format => 'rss'), :rel => "alternate", :title => "RSS", :type => "application/rss+xml" }

    %link{ :href => "/stylesheets/brighthouse.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => "/stylesheets/local.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }

    /= stylesheet_link_tag :all
    = javascript_include_tag :defaults
    != include_syntax_highlighter_assets(:theme => :default)
    = csrf_meta_tag
    = yield :head

  %body
    #wrapper
      #blog-header
        %h1= link_to "Wolfmans Howlings", posts_path
        %h2 A programmers Blog about Programming solutions and a few other issues
      #main-wrapper
        #main-content
          -if authenticated?
            %p.logged-in== Logged in as admin
          .notice= flash[:notice]
          .error= flash[:error]
          = yield
        #sidebar
          = sidebar :google_search
          = sidebar :contact
          = sidebar :links
          = sidebar :syndicate
          = sidebar :categories
          = sidebar :tags
          = sidebar :recent_comments
          = sidebar :recent_posts
          = sidebar :statics
          /= sidebar :ads
      #footer
        %p
          Site hosted by
          = link_to "e4 Networks", "http://e4net.com"
          using
          = link_to "wolfmanblog", "http://github.com/wolfmanjm/wolfmanblog/tree/master"
          and
          = link_to "Rails 3", "http://rubyonrails.org/"
        %ul
          %li
            = link_to "Brighthouse", "http://www.height1percent.com/pages/brighthouse/"
            theme by
            = link_to "Richard White", "http://www.height1percent.com/"
